{
  "info" : {
    "siteTitle" : "블로그",
    "description" : "블로그 설명",
    "siteOwner" : "LeeGyuho",
    "siteUrl" : "https://gyuholee.cafe24.com",
    "email" : "andrewgyuholee@gmail.com",
    "copyright" : "Copyright © LeeGyuho all right reserved."
  },

  "userGroup" : {
    "owner" : 0,
    "admin" : 1,
    "user" : 3,
    "guest" : 9
  },

  "mainFile" : "main.php",
  "language" : "ko",
  "dateTime" : {
    "timezone" : "Asia/Seoul",
    "dateFormat" : "YYYY-MM-DD",
    "timeFormat" : "HH:mm:ss",
    "dateTimeFormat" : "YYYY-MM-DD HH:mm:ss",
    "timezoneOffset" : "+0900"
  },

  "libraries" : {
    "styles" : [
      "https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css",
      "https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Quicksand&display=swap",
      "styles/style.css"
    ],
    "scripts" : [
      "scripts/script.js"
    ]
  },

  "theme" : {
    "logo" : "logo.png",
    "themeColor" : "light"
  },

  "pages" : {
    "profile" : {
      "name" : "LeeGyuho",
      "items" : 1,
      "postType": "text",
      "listType": "none",
      "categories" : {
        "profile" : "LeeGyuho"
      }
    },
    "portpolio" : {
      "name" : "Portpolio",
      "items" : 3,
      "postType": "media",
      "listType": "link",
      "categories" : {
        "portpolio" : "Portpolio"
      }
    },
    "study" : {
      "name" : "Study",
      "items" : 5,
      "postType": "text",
      "listType": "tile",
      "categories" : {
        "study" : "Study"
      }
    },
    "diary" : {
      "name" : "Diary",
      "items" : 5,
      "postType": "media",
      "listType": "text",
      "categories" : {
        "diary" : "Diary"
      }
    },
    "board" : {
      "name" : "Board",
      "items" : 10,
      "postType": "text",
      "listType": "list",
      "categories" : {
        "board" : "Board"
      }
    }
  }

}