{
  "info" : {
    "siteTitle" : "블로그",
    "siteOwner" : "LeeGyuho",
    "siteUrl" : "https://gyuholee.cafe24.com",
    "email" : "andrewgyuholee@gmail.com",
    "copyright" : "Copyright © LeeGyuho all right reserved."
  },

  "libraries" : {
    "styles" : [
      "https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css",
      "https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Quicksand&display=swap",
      "styles/style.css"
    ],
    "scripts" : [
      "scripts/script.js"
    ]
  },

  "theme" : {
    "logo" : "logo.png",
    "themeColor" : "light"
  },

  "pages" : {
    "profile" : {
      "name" : "LeeGyuho",
      "items" : 1,
      "listType": "none"
    },
    "portpolio" : {
      "name" : "Portpolio",
      "items" : 3,
      "listType": "link"
    },
    "study" : {
      "name" : "Study",
      "items" : 5,
      "listType": "tile"
    },
    "diary" : {
      "name" : "Diary",
      "items" : 5,
      "listType": "list"
    },
    "board" : {
      "name" : "Board",
      "items" : 10,
      "listType": "list"
    }
  }

}