<div class="logo">
  {headerLink}
</div>
<div class="menu top">
  <div class="search">
    <a href="search"><i class="xi-search"></i></a>
    <!-- <input type="text"><button>검색</button> -->
  </div>

  <!-- <div class="links">
    <a href="github"><i class="xi-github"></i></a>
    <a href="twitter"><i class="xi-twitter"></i></a>
    <a href="facebook"><i class="xi-facebook"></i></a>
    <a href="kakaotalk"><i class="xi-kakaotalk"></i></a>
  </div> -->

  <div class="member">
    {loginLink}
  </div>
</div>