<section class="post {postView}">
  <div class="{headerClass}">
    {headerBG}
    <div class="title">{title}</div>
    <div class="info">
      <span class="category">{category}</span>
    </div>
  </div>
  <div class="content">
    {file}
    {content}
  </div>
  <div class="footer">
    <div class="info start">
      <span class='buttons left'>{buttonLeft}</span>
      <span class="tags">{tags}</span>
    </div>
    <div class="info end">
      <span class='buttons left'>{buttonLeft}</span>
      <span class="wdate">{wdate}</span>
      <span class="username">{nickname}</span>
      <span class='buttons right'>{buttonRight}</span>
    </div>
  </div>
</section>