<section class="popup">
  {closeButton}
  <div class="header">
    <span class="title">{title}</span>
  </div>
  <div class="content">
    <form name="replyWrite" method="post" action="" autocomplete="off">
      <table class="table column">
        <tr>
          <td>
            <label>content</label>
            <textarea name="content" required></textarea>
          </td>
        </tr>

      </table>

      <div class="buttons">
        <input type="hidden" name="reply" value="true">
        <input type="hidden" name="action" value="{action}">
        <input type="hidden" name="do" value="{do}">
        <input type="hidden" name="threadid" value="">
        <input type="hidden" name="confirm" value="false">
        <label><input type="checkbox" name="secret">비밀글</label>
        <input class="btn" type="button" value="등록" onclick="sendReply(replyWrite)">
        <input class="btn" type="button" value="취소" onclick="closePopup(popup_reply_write)">
      </div>

    </form>
  </div>
</section>