<section class="popup small">
  {closeButton}
  <div class="header">
    <span class="title" data="{popupTitle}"></span>
  </div>
  <div class="content">
    <form name="{formName}" method="post" autocomplete="off">
      
      <div class="message" data="{message}"></div>

      <div class="buttons">
        <input type="hidden" name="thread" value="true">
        <input type="hidden" name="action" value="board">
        <input type="hidden" name="do" value="delete">
        <input type="hidden" name="confirm" value="true">
        <input type="hidden" name="replyid" value="">
        <input class="btn" type="button" value="삭제" onclick="deleteThread({formName})">
        <input class="btn" type="button" value="취소" onclick="closePopup({popupId})">
      </div>

    </form>
  </div>
</section>