<section class="popup">
  {closeButton}
  <div class="header">
    <span class="title" data="{popupTitle}"></span>
  </div>
  <div class="content">
    <table class="table column">
      <tr>
        <td>
          <label>thread title</label>
          <input type="text" class="subject" name="title" readonly>
        </td>
      </tr>
      <tr>
        <td>
          <label>reply content</label>
          <textarea name="content" required></textarea>
        </td>
      </tr>
    </table>
    <div class="buttons">
      <input type="hidden" name="reply" value="true">
      <input type="hidden" name="action" value="board">
      <input type="hidden" name="do" value="write">
      <input type="hidden" name="submit" value="true">
      <input type="hidden" name="threadid" value="">
      <input type="hidden" name="threadnumb" value="">
      {secretCheckbox}
      <input class="btn" name="confirm" type="button" value="등록" onclick="sendReply({formName})" disabled>
      <input class="btn" name="cancel" type="button" value="취소" onclick="closePopup({popupId},inputHandler)">
    </div>
  </div>
</section>