<section class="popup">
  {closeButton}
  <div class="header">
    <span class="title" data="{popupTitle}"></span>
  </div>
  <div class="content">
    <table class="table column">
      <tr>
        <td>
          <label>thread title</label>
          <input type="text" class="subject" name="title" maxlength="80" required>
        </td>
      </tr>
      <tr>
        <td>
          <label>thread content</label>
          <textarea name="content" maxlength="1200" required></textarea>
        </td>
      </tr>
    </table>
    <div class="buttons">
      <input type="hidden" name="thread" value="true">
      <input type="hidden" name="action" value="board">
      <input type="hidden" name="do" value="update">
      <input type="hidden" name="submit" value="true">
      <input type="hidden" name="threadid" value="">
      <input type="hidden" name="threadnumb" value="">
      {pinnedCheckbox}
      {secretCheckbox}
      {pullupCheckbox}
      <input class="btn" name="confirm" type="button" value="등록" onclick="sendThread({formName})" disabled>
      <input class="btn" name="cancel" type="button" value="취소" onclick="closePopup({popupId},inputHandler)">
    </div>
  </div>
</section>