<form id="{contentId}" class="post {class}">
  <div class="header">
    <div class="quot line-v"></div>
    <div class="quot line-h"></div>
  </div>
  <div class="content">
    <div class="title">{postTitle}</div>
    <div class="message">{message}</div>
    <div class="info">
      <span class="buttons reply">{buttonReply}</span>
      <span class="wdate">{wdate}</span>
      <span class="username">{nickname}</span>
      <span class="buttons edit">{buttonEdit}</span>
    </div>
    <div class="data">
      <input type="hidden" name="type" value="{type}">
      <input type="hidden" name="threadid" value="{threadid}">
      <input type="hidden" name="threadnumb" value="{threadnumb}">
      <input type="hidden" name="replyid" value="{replyid}">
      <input type="hidden" name="confirm" value="false">
      <input type="hidden" name="title" value="{title}">
      <input type="hidden" name="content" value="{content}">
      <input type="hidden" name="pinned" value="{pinned}">
      <input type="hidden" name="secret" value="{secret}">
    </div>
  </div>
</form>