<section class="popup">
  {closeButton}
  <div class="header">
    <span class="title" data="{title}">{title}</span>
  </div>
  <div class="content">
    <form name="threadUpdate" method="post" action="" autocomplete="off">
      <table class="table column">
        <tr>
          <td>
            <label>title</label>
            <input type="text" name="title" required>
          </td>
        </tr>
        <tr>
          <td>
            <label>content</label>
            <textarea name="content" required></textarea>
          </td>
        </tr>

      </table>

      <div class="buttons">
        <input type="hidden" name="thread" value="true">
        <input type="hidden" name="action" value="{action}">
        <input type="hidden" name="do" value="{do}">
        <input type="hidden" name="threadid" value="">
        <input type="hidden" name="confirm" value="false">
        {pinnedCheckbox}
        <label><input type="checkbox" name="secret">비밀글</label>
        <input class="btn" type="button" value="등록" onclick="sendThread(threadUpdate)">
        <input class="btn" type="button" value="취소" onclick="closePopup(popup_thread_update)">
      </div>

    </form>
  </div>
</section>