
// 헤더
header {
  @include flex(center, start, column);
  position: sticky;
  top: 0;
  background-color: var(--color-header);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba($black, 0.2);
  min-height: $height-nav;
  z-index: 99;

  .sep {
    width: 0;
    opacity: 0.5;
    text-align: center;
    position: absolute;
    right: 0;
  }

  nav {
    @include flex(center, space-between);
    height: $height-nav;
    width: 100%;
    max-width: $max-width;
    white-space: nowrap;
    font-size: 0.95rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    position: relative;
    // top: 0-$height-nav;
    padding: 10px 0;

    .bg {
      position: absolute;
      top: 0;
      width: 100%;
      height: $height-nav;
      background-color: var(--color-header);
      backdrop-filter: blur(12px);
      z-index: 5;
      display: none;
    }

    label {
      font-size: 0.95rem;
    }

    .title {
      @include flex(center, start);
      width: auto;
      height: $height-nav - 20px;
      padding-left: 10px;
      padding-right: 15px;
      position: relative;
      .logo {
        font-size: 24px;
        margin-right: 5px;
        color: orangered;
      }
      a {
        @include flex(center, center);
        height: inherit;
        .logo {
          // color: white;
          filter:grayscale(1) opacity(0.65);
        }
      }
      .sep {
        right: 15px;
      }

      &.active {
        color: var(--color-text-link);
        // border-bottom: 4px solid $blue;
        .sep {
          opacity: 1;
        }
      }
      &.active a, a:hover {
        .logo {
          filter: grayscale(0) opacity(1);
          transition: filter 0.25s;
        }
      }
    }

    .btn {
      min-width: 35px !important;
      height: $height-nav - 20px;
      text-align: center;
      font-size: 22px;
      &:hover {
        color: var(--color-text-link);
        background-color: initial;
      }
    }

    .buttons {
      z-index: 7;
      .btn:not(:last-child) {
        margin-right: 10px;
      }
    }

    a {
      display: block;
      height: inherit;
      width: 100%;
      // padding: 6px 0;

      &:hover {
        cursor: pointer;
        color: var(--color-text-link);
        // transition: color 0.25s;
      }
    }

    .menu.top {
      @include flex(center, space-between);
      z-index: 7;
      .menu {
        display: none;
      }
      .btn {
        display: none;
      }
    }

    .menu.main {
      @include flex(center, start);
      width: 100%;
      margin-right: 10px;
      height: $height-nav - 20px;
      // overflow: hidden;
      z-index: 7;

      >li {
        @include flex(center, start, column);
        max-width: 112px;
        height: inherit;
        line-height: $height-nav - 20px;
        text-align: center;
        flex-grow: 1;
        position: relative;
        label {
          display: block;
          width: calc(100% - 20px);
          margin: 0 auto;
          height: $height-nav - 10px;
          position: relative;
          letter-spacing: 0.25rem;
          z-index: -1;
        }
        &.active {
          label {
            border-bottom: 4px solid var(--color-text-link);
          }
        }
      }
    }
  }
}

// --------------------------------------------------------------------------
// 메인
main {
  overflow-x: hidden;
  flex-grow: 1;

  a:hover {
    color: var(--color-text-link);
  }

  article {
    @include flex(center, center, column);
    width: 100%;
    max-width: $max-width;
    padding: 20px 0;
    i {
      position: relative;
      font-size: 1.1em;
      margin-right: 4px;
      &[class*=" xi-"], 
      &[class^=xi-] {
        top: 0.125em;
      }
      &.sharp {
        top: 0.1em;
        &::before {
          content: '#';
        }
      }
      &.bullet {
        top: 0;
        &::before {
          content: '•';
        }
      } 
    }
  }

  section {
    @include flex(center, center, column);
    width: 100%;
    max-width: calc(#{$max-width} - 30px);
    padding: 15px;
    // border-radius: 10px;
    border-radius: 12px;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
    >div:not(:last-of-type) {
      margin-bottom: 15px;
    }

    >.title {
      padding: 5px 10px 0;
      font-size: 1.2em;
      &::before {
        position: relative;
        top: 1px;
        margin-right: 5px;
      }
    }

    >.header {
      @include flex(center, space-between);
      width: 100%;
      padding: 10px;
      position: relative;
      overflow: hidden;
      border-bottom: 1px solid var(--color-border);
      margin-bottom: 15px;
      >.title {
        font-size: 2rem;
        color: var(--color-text-emp);
        line-height: 1;
        z-index: 1;
      }
    }

    .label {
      margin-right: 6px;
      // color: $grey-35;
      opacity: 0.65;
      >i {
        margin-right: 0;
      }
    }

    >.content {
      @include flex(center, start, column);
      width: 100%;
      padding: 0 20px;
      // margin-bottom: 15px;
      font-size: 1.125rem;
      // word-break: break-word;
      // letter-spacing: 1;
    }

    >.footer {
      @include flex(center, end, row);
      width: 100%;
      // height: 22px;
      padding: 5px 10px;
      font-size: 1.125rem;
      white-space: nowrap;
      line-height: 1.8;
    }

    .buttons {
      @include flex(center, center);
      // width: 100%;
      &.confirm {
        margin-bottom: 10px;
      }
      &:not(.btn-cont)>*:not(:last-child) {
        margin-right: 25px;
      }
      &.btn-between {
        justify-content: space-between;
      }
      &.btn-around {
        justify-content: space-around;
      }
      &.btn-start {
        justify-content: start;
      }
      &.btn-end {
        justify-content: end;
      }
      &.btn-cont {
        .btn {
          &:first-of-type {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
          &:last-of-type {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
          &:not(:first-of-type):not(:last-of-type) {
            border-radius: 0;
          }
        }
      } 
    }
  }

  // 섹션 포스트
  section.post {
    >.header {
      @include flex(center, center, column);
      &.img {
        height: 200px;
        padding: 10px;
        margin-bottom: 15px;
        text-shadow: 0 1px 4px black;
        // margin-top: -10px;
        // width: calc(100% + 20px);
        border-radius: 5px;
        .title, .info {
          color: white;
          align-self: start;
        }
        .info {
          display: none;
        }
      }
      
      >.bg {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #666;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // background-blend-mode: overlay;
      }

      .info {
        height: 22px;
        display: flex;
        margin-top: 10px;
        z-index: 1;
        >span:not(:last-child) {
          margin-right: 15px;
        }
        .category {
          text-transform: capitalize;
        }
      }

    }

    .content {
      img {
        display: block;
        width: auto;
        max-width: calc(100% + 30px);
        margin-bottom: 15px;
        border-radius: 4px;
        // &:first-of-type {
        //   margin: 0 auto 15px;
        // }
      }
      .img, p {
        &.center {
          justify-self: center;
        }
        &.left {
          justify-self: start;
        }
        &.right {
          justify-self: end;
        }
      }
    }

    >.footer {
      .buttons {
        &.left {
          margin-right: 15px;
        }
        &.right {
          margin-left: 15px;
        }
        &:empty {
          margin: 0 !important;
        }
        >.btn:not(:last-child) {
          margin-right: 12px;
        }
      }
      .tags {
        order: 1;
        font-size: 0.9em;
        >a:not(:last-child) {
          margin-right: 5px;
        }
      }
      .info {
        @include flex(center, end);
        overflow: hidden;
        &.start {
          margin-right: 15px;
        }
        &.end {
          margin-left: auto;
          >.buttons.left {
            display: none;
          }
        }
        .wdate {
          margin-left: auto;
          margin-right: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  // 섹션 미디어
  section.media {
    .header:not(.img) {
      flex-direction: row;
      justify-content: space-between;
      height: auto;
      
      .info {
        margin: 0;
        align-self: end;
        z-index: 1;
      }
    }
  }

  // 섹션 유저
  section.user {
    max-width: 640px;

    .buttons {
      width: 100%;
    }

    .content {
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      table {
        max-width: 600px;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        &.signup, &.edit {
          td {
            width: 340px;
          }
        }
        
        select {
          width: 140px;
        }

        &.login {
          max-width: 400px;
        }

        th {
          width: 140px;
        }
        td {
          width: 300px;
        }

        // td:last-child {
        //   padding-right: 60px;
        // }

        &.signup {
          input[name=userid] {
            width: calc(100% - 104px);
          }
          input[name=email] {
            width: calc(100% - 148px);
          }
        }
      }
    }
  }

  // 섹션 리스트 타일
  section.list.tile {
    padding: 5px;

    .title {
      width: 100%;
    }

    ul.tile {
      width: 100%;
      padding: 5px;
      display: flex;
      flex-wrap: wrap;
      // grid: https://nykim.work/59
      &.grid {
        display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        // grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-template-columns: repeat(5, 1fr);
        grid-auto-flow: dense;

        >li {
          min-width: initial;
          width: auto;
          &.wide {
            width: auto;
            grid-column: span 2;
          }
        }
      }
  
      >li {
        height: 180px;
        min-width: 180px;
        padding: 5px;
        flex-grow: 1;
        width: 20%;
        overflow: hidden;
        &.wide {
          width: 40%;
        }
        &:hover {
          overflow: visible;
        }

        >.box {
          display: flex;
          flex-direction: column;
          box-sizing: content-box;
          width: 100%;
          height: 100%;
          transform: translate(-10px, -10px);
          background-color: var(--color-section);
          border: 10px solid var(--color-section);
          position: relative;
          overflow: hidden;
          border-radius: 10px;
    
          >.post {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 5px;
            z-index: 1;
            
            >.title {
              // font-size: 1.5rem;
              font-size: 27px;
              line-height: 1.25;
            }
      
            >.summary {
              // font-size: 1rem;
              font-size: 18px;
              // padding: 5px;
              max-height: 108px;
              margin-top: 10px;
              overflow: hidden;
              line-height: 1.5;
            }
          }
    
          >.bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $grey;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            // background-blend-mode: overlay;
            // filter: grayscale(1);
            border-radius: 5px;
          }
    
          // &:not(.active) {
          //   >.bg {
          //     background-blend-mode: darken;
          //     filter: grayscale(1);
          //   }
          // }
    
          &:hover {
            background-color: var(--color-light);
            border-color: var(--color-light);
            color: var(--color-text-emp);
            cursor: pointer;
            // background-color: $grey;
            // background-color: $blue;
            box-shadow: 0 0 8px rgba(black, 0.25);
            transform: translate(-10px, -10px) scale(110%);
            transition: all 0.5s;
            z-index: 5;
            // filter: grayscale(0);
            // >.bg {
              // background-color: $grey;
              // background-color: white;
              // filter: grayscale(0);
              // transition: all 0.5s;
            // }
          }
    
          &.link, &.media {
            color: white;
            text-shadow: 0 1px 4px black;
            >.post>.title {
              font-size: 2em;
              line-height: 1;
            } 
          }

          &.media {
            >.post>.summary {
              max-height: 80px;
            }
          }
          &.link {
            >.post>.summary {
              display: none;
            }
          }
        }
      }
    }
  }

  // 섹션 쓰레드
  section.list.thread {
    font-size: 1.125rem;
    word-break: break-word;
    &.empty {
      padding-bottom: 15px;
      .message {
        background-color: var(--color-box-grey) !important;
        @include flex(center, space-between);
      }
    }
    .chain {
      width: 100%;
      &:not(:last-of-type) {
        border-bottom: 1px solid var(--color-border);
        margin-bottom: 10px;
      }
    }

    .post {
      @include flex(stretch, space-between);
      width: 100%;
      padding: 0 10px;

      .header {
        @include flex(start, start, column);
        flex-grow: 1;
        margin-right: 10px;
        position: relative;
        min-width: 64px;
        .number {
          padding: 5px;
          background-color: white;
          color: $grey-50;
          z-index: 1;
          position: relative;
          left: -6px;
        }
        .quot {
          position: absolute;
          left: 22px;
          background-color: var(--color-border);
          opacity: 0.75;
          &.line-v {
            width: 2px;
            height: 100%;
          }
          &.line-h {
            width: calc(100% - 22px);
            height: 2px;
            top: calc(50% - 30px);
          }
        }
      }
      &.thread .header {
        display: none;
      }
      .content {
        @include flex(start, start, column);
        width: 100%;
        z-index: 1;
        overflow: hidden;
        .title {
          width: 100%;
          font-size: 1.35em;
          color: var(--color-text-emp);
          padding: 5px 0;
        }
        .message {
          border: 1px solid var(--color-border);
          padding: 10px 15px;
          border-radius: 8px;
          background-color: var(--color-box-blue);
          width: 100%;
          margin-bottom: 10px;
          &.left {
            margin-right: 50px;
          }
        }
        .info {
          @include flex(center, end);
          width: 100%;
          // padding-left: 10px;
          margin-bottom: 15px;
          // font-size: 1rem;
          white-space: nowrap;
          .buttons:last-child {
            &:not(:empty) {
              margin-left: 15px;
            }
            >*:not(:last-child) {
              margin-right: 12px;
            }
          }
          >span:not(:last-child):not(:nth-last-child(2)) {
            margin-right: 15px;
            >i.bullet {
              margin-left: 18.5px;
              top: -4px;
              color: var(--color-border);
              transform: scale(1.25);
            }
          }
          >span:nth-of-type(2) {
            margin-left: auto;
          }
          .wdate {
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      &.reply {
        .content {
          width: 100%;
          // max-width: 760px;
          max-width: 800px;
          .title {
            padding: 0;
          }
          .message {
            // max-width: 720px;
            background-color: var(--color-box-antique);
          }
        }
      }
      &:nth-child(2) {
        .header .quot.line-v {
          top: -24px;
          height: calc(100% + 24px);
        }
        &.wable {
          .header .quot.line-v {
            top: -8px;
            height: calc(100% + 8px);
          }
        }
      }
      &:nth-child(2):last-child {
        .header .quot.line-v {
          top: -24px;
          height: calc(50% - 30px + 24px);
        }
        &.wable {
          .header .quot.line-v {
            top: -8px;
            height: calc(50% - 30px + 8px);
          }
        }
      }
      &:last-child {
        .header {
          .quot.line-v {
            height: calc(50% - 20px);
          }
          .quot.line-h {
            top: calc(50% - 20px);
          }
        }
        .content .info {
          margin-bottom: 0;
        }
      }
    }

    &:not(.hasreply) {
      .info i.bullet {
        display: none;
      }
    }

    #loading {
      bottom: -8px;
    }
  }

}

// --------------------------------------------------------------------------
// 사이드메뉴
aside {
  position: absolute;
  width: 100%;
  z-index: 9;
  max-width: calc(#{$max-width} + 84px + 20px);
  padding: 0 15px;
  &#leftmenu {
    align-items: start;
  }
  &#rightmenu {
    align-items: end;
  }

  button {
    background-color: var(--color-button-float) !important;
    position: fixed;
    transform: scale(1.15);
    &:hover {
      color: var(--color-text-link) !important;
    }
    &.top {
      top: calc(#{$height-nav} + 15px);
    }
    &.bottom {
      bottom: 15px;
    }
    &:nth-child(2):not(:last-of-type).top {
      top: calc(#{$height-nav} + 15px + 48px + 14px);
    }
    &:nth-last-child(2):not(:last-of-type).bottom {
      bottom: calc(15px + 48px + 14px);
    }
  }
}

// --------------------------------------------------------------------------
// 푸터
footer {
  width: 100%;
  height: 60px;
  align-items: center;
  margin: 0 auto;
  border-top: 1px solid rgba($black, 0.2);
  font-size: 0.9em;
}

// 로딩
// TODO: 상태값에 따라 아이콘 변경
#loading {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  line-height: 1;
  color: $grey-65;
  position: relative;
  &:not(:last-child) {
    margin-top: -5px;
    margin-bottom: 15px;
  }
  &:not(:nth-last-child(3)) {
    margin-top: 15px;
    margin-bottom: 0;
  }
}

// 팝업
[id^=popup_],
form.popup {
  @include flex(center, center, column);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: 0;
  display: none;
  transition: opacity 0.35s;
  &.show {
    display: flex;
  }
  &.active {
    opacity: 1;
  }

  &.modal {
    width: 100%;
    height: 100%;
    .dim {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(black, 0.5);
      // backdrop-filter: blur(5px);
    }
  }
  section.popup {
    width: 100%;
    max-width: 800px;
    z-index: 1;
    border: 1px solid var(--color-border);
    
    .header {
      margin-bottom: 5px;
      .title>.label {
        margin-right: 8px;
      }
      // .title>i {
      //   position: relative;
      //   font-size: 1.1em;
      //   top: 0.125em;
      // }
    }
    .content {
      padding: 0;
      table {
        width: 100%;
        margin-bottom: 15px;
        &.row {
          td:last-child {
            padding-right: 32px;
          }
        }
        &.column {
          label {
            text-transform: capitalize;
            cursor: default;
            padding: 0 5px;
          }
          td {
            padding: 2.5px 0;
          }
          textarea {
            min-height: 240px;
          }
        }
        input.subject {
          padding: 5px 10px;
          font-size: 1.25em;
        }
      }
      .center {
        text-align: center;
      }
    }
    .buttons {
      @include flex(center, center);
      width: 100%;
      // margin-top: 5px;
      >.btn:not(:last-child) {
        margin-right: 25px;
      }
      >label {
        margin-right: 15px;
        &:last-of-type {
          margin-right: 25px;
        }
      }
    }

    &.small {
      max-width: 640px;
    }
    &.min {
      max-width: 480px;
    }

    &.small, &.min {
      min-height: 240px;
      .header {
        margin-bottom: 15px;
      }
      .content {
        padding: 0 10px;
        height: 100%;
        form {
          align-items: center;
          height: 100%;
        }
        .text:not(:empty) {
          width: 100%;
          border: 1px solid #a5a5a5;
          padding: 10px 15px;
          border-radius: 10px;
          margin-bottom: 10px;
        }
        .message {
          @include flex(start, center, column);
          height: 100%;
          font-weight: bold;
        }
      }
      .buttons {
        margin-top: 10px;
      }

      &.thread .content .text {
        background-color: var(--color-box-blue);
      }
      &.reply .content .text {
        background-color: var(--color-box-antique);
      }
    }
  }

  .btn.close {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 9;
    // background-color: white !important;
    border: none;
    transform: scale(1.15);
    color: $grey-70;
    &.outer {
      background-color: white !important;
      border: 1px solid transparent;
      transform: translate(50%, -50%) scale(1.15);
      transform: translate(calc(100% + 15px), -50%) scale(1.15);
    }
    &:hover {
      color: $red;
      text-shadow: none;
      // border-color: red;
    }
  }
}

