
html.mobile {
  font-size: 16px;
  line-height: 1.5;

  header {
    nav {
      font-size: 0.95rem;
      .menu {
        display: none;
      }
    }
  }
  main {
    section {
      >.header {
        padding: 10px 0;
      }
      >.content {
        padding: 0 10px;
      }
      >.footer {
        padding: 0;
      }
    }
    section.list.thread {
      .post {
        padding: 0;
      }
    }
  }

}