@media (max-width: 959px) { main section.list.tile ul.tile.grid { grid-template-columns: repeat(4, 1fr); }
  main section.list.tile ul.tile.grid li.wide { grid-column: span 1; }
  main section.list.tile ul.tile.grid.short li.wide { grid-column: span 1; } }

@media (max-width: 767px) { main section.list.tile ul.tile.grid.long { grid-template-columns: repeat(3, 1fr); }
  main section.list.tile ul.tile.grid.short { grid-template-columns: repeat(2, 1fr); }
  main section.post > .footer { display: flex; flex-direction: column; align-items: end; justify-content: start; flex-wrap: nowrap; }
  main section.post > .footer .info.start { margin-right: 0; }
  main section.post > .footer .info.start .buttons.left { display: none; }
  main section.post > .footer .info.end { width: 100%; }
  main section.post > .footer .info.end .buttons.left { display: block; } }

@media (max-width: 639px) { header nav > .title a > label { display: none; }
  main section.list.tile ul.tile.grid.long { grid-template-columns: repeat(2, 1fr); } }
