@charset "UTF-8";
* { margin: 0; padding: 0; list-style: none; box-sizing: border-box; -webkit-tap-highlight-color: transparent; }

body { font-family: "나눔스퀘어", "NanumSquare", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", sans-serif; font-size: 18px; line-height: 1.6; word-break: break-all; }

input:-webkit-autofill::first-line { font-family: inherit; font-size: inherit; }

a { text-decoration: none; color: inherit; }

.btn { cursor: pointer; }

button { font-family: "나눔스퀘어", "NanumSquare", "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", sans-serif; }

img { width: 100%; }

.btn, button, input[type=button], input[type=reset] { cursor: pointer; font-size: 1em; }

.btn:hover, .btn:active, .btn:focus, button:hover, button:active, button:focus, input[type=button]:hover, input[type=button]:active, input[type=button]:focus, input[type=reset]:hover, input[type=reset]:active, input[type=reset]:focus { background-color: #d5d5d5; }

input[readonly] { background-color: #ddd; }

table { width: 100%; width: -webkit-fill-available; border-collapse: collapse; }

table * { font-size: 1em; }

table th, table td { padding: 5px; }

table th { text-align: center; }

table td { text-align: left; }

#container { display: flex; flex-direction: column; align-items: center; justify-content: start; flex-wrap: nowrap; width: 100%; margin: 0 auto; position: relative; min-height: 100vh; }

header, footer, nav { display: flex; flex-direction: row; align-items: center; justify-content: center; flex-wrap: nowrap; width: 100%; position: relative; }

main, article, section, aside { display: flex; flex-direction: row; align-items: start; justify-content: center; flex-wrap: nowrap; width: 100%; position: relative; }

aside { width: 0; }

#message { width: 100%; }

#message .log { padding: 5px 10px; background-color: gray; color: white; font-size: 0.9em; text-align: center; }

#message .log.info { background-color: #5f5fff; }

#message .log.success { background-color: green; }

#message .log.error { background-color: red; }

b[class*=" xi-"]:before, b[class^=xi-]:before, span[class*=" xi-"]:before, span[class^=xi-]:before, a[class*=" xi-"]:before, a[class^=xi-]:before, .btn[class*=" xi-"]:before, .btn[class^=xi-]:before { font-family: 'xeicon'; margin-right: 5px; font-size: 1.15em; position: relative; top: 0.075em; }

.red { color: red; }

.green { color: green; }

.blue { color: #5f5fff; }
