@import "_variables.scss";

// ---------------------------------------------------------

// 헤더
header {
  @include flex(center, start, column);
  position: sticky;
  top: 0;
  z-index: 8;
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba($black, 0.25);
  // height: $height-nav + 1;

  .sep {
    height: inherit;
    width: 18px;
    padding: 9px 0;
    align-self: center;
    font-size: 1em;
    color: $grey-75;
  }

  nav {
    @include flex(center, space-between);
    height: $height-nav;
    width: 100%;
    max-width: $max-width;
    white-space: nowrap;
    font-size: 0.95em;
    font-weight: bold;
    letter-spacing: 0.05em;
    padding: 0 15px;

    >.title {
      @include flex(start, center);
      width: auto;
      height: inherit;
      overflow: hidden;
      .logo {
        font-size: 24px;
        margin-right: 5px;
        color: orangered;
      }
      a {
        @include flex(center, center);
        height: inherit;
        padding: 6px;
        .logo {
          filter:grayscale(1) opacity(0.5);
        }
      }
      &.active {
        color: $blue;
        // border-bottom: 4px solid $blue;
      }
      &.active a, a:hover {
        .logo {
          filter: grayscale(0) opacity(1);
          transition: filter 0.25s;
        }
      }
    }

    .btn {
      width: 50px;
      height: inherit;
      text-align: center;
      font-size: 22px;
      &:hover {
        background-color: initial;
      }
    }

    a {
      display: block;
      height: 100%;
      padding: 6px 0;

      &:hover {
        cursor: pointer;
        color: $blue;
        // transition: color 0.25s;
      }
    }

    .menu {
      @include flex(start, center);
      // width: 100%;
      margin-right: auto;
      height: inherit;
      overflow: hidden;

      >li {
        width: 86px;
        height: $height-nav;
        text-align: center;
        align-self: end;
        overflow: hidden;

        &.active {
          border-bottom: 4px solid $blue;
        }
      }
    }
  }
}

// 메인
main {
  // margin-top: 60px;
  overflow-x: hidden;
  flex-grow: 1;

  a:hover {
    color: $blue;
  }

  article {
    @include flex(center, center, column);
    width: 100%;
    max-width: $max-width;
    padding: 20px 0;
  }

  section {
    @include flex(center, center, column);
    width: 100%;
    max-width: calc(#{$max-width} - 30px);
    padding: 25px;
    border-radius: 10px;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
    >div:not(:last-of-type) {
      margin-bottom: 15px;
    }

    >.title {
      padding: 5px 10px 0;
      font-size: 1.2em;
      &::before {
        position: relative;
        top: 1px;
        margin-right: 5px;
      }
    }

    >.header {
      @include flex(center, space-between);
      width: 100%;
      padding: 5px 5px 10px;
      position: relative;
      overflow: hidden;
      border-bottom: 1px solid $light;
      margin-bottom: 15px;
      >.title {
        font-size: 2em;
        line-height: 1;
        z-index: 1;
      }
    }

    >.content {
      @include flex(center, start, column);
      width: 100%;
      padding: 0 10px;
      // margin-bottom: 15px;
      font-size: 1.125em;
      word-break: keep-all;
      // letter-spacing: 1;
    }

    >.footer {
      @include flex(center, space-between);
      width: 100%;
      height: 22px;
    }
  }

  // 섹션 포스트
  section.post {
    >.header {
      @include flex(center, center, column);
      &.img {
        height: 200px;
        padding: 10px;
        margin-bottom: 15px;
        color: white;
        text-shadow: 0 1px 4px black;
        margin-top: -10px;
        width: calc(100% + 20px);
        border-radius: 5px;
        .title, .info {
          align-self: start;
        }
        .info {
          display: none;
        }
      }
      
      >.bg {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #666;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // background-blend-mode: overlay;
      }

      .info {
        height: 22px;
        display: flex;
        margin-top: 10px;
        z-index: 1;
        >span:not(:last-child) {
          margin-right: 15px;
        }
      }

    }

    .content {
      img {
        display: block;
        width: auto;
        max-width: calc(100% + 30px);
        margin-bottom: 15px;
        // &:first-of-type {
        //   margin: 0 auto 15px;
        // }
      }
      .img, p {
        &.center {
          justify-self: center;
        }
        &.left {
          justify-self: start;
        }
        &.right {
          justify-self: end;
        }
      }
    }

    >.footer {
      >span:not(:last-child) {
        margin-right: 15px;
      }
      >span:nth-child(2) {
        margin-left: auto;
      }
      .tags {
        font-size: 0.9em;
        >a:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
  }

  // 섹션 미디어
  section.media {
    .header:not(.img) {
      flex-direction: row;
      justify-content: space-between;
      height: auto;
      
      .info {
        margin: 0;
        align-self: end;
        z-index: 1;
      }
    }
  }

  // 섹션 유저
  section.user {
    max-width: 640px;

    .content {
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      table {
        max-width: 600px;
        margin: 0 15px 15px;
        &.login {
          max-width: 400px;
        }

        td.hr::before {
          content: "";
          display: block;
          width: 100%;
          border-bottom: 1px solid $light;
        }

        td:last-child {
          padding-right: 60px;
        }

        input[type=text],
        input[type=number],
        input[type=password],
        input[type=email],
        textarea {
          width: 100%;
        }
        select {
          width: 140px;
        }
        input[type=radio],
        input[type=checkbox] {
          cursor: pointer;
          margin-right: 5px;
        }
        label {
          cursor: pointer;
          margin-right: 5px;
        }

        &.signup {
          input[name=userid] {
            width: calc(100% - 104px);
          }
          input[name=email] {
            width: calc(100% - 148px);
          }
        }
      }
    }

    .buttons {
      @include flex(center, center);
      width: 100%;
      >*:not(:last-child) {
        margin-right: 25px;
      }
    }
  }

  // 섹션 리스트 타일
  section.list.tile {
    padding: 5px;

    .title {
      width: 100%;
    }

    ul.tile {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 5px;
  
      >li {
        height: 180px;
        min-width: 180px;
        padding: 5px;
        flex-grow: 1;
        width: 20%;
        overflow: hidden;
  
        &.wide {
          width: 40%;
        }
  
        &:hover {
          overflow: visible;
        }
      }
  
      .box {
        display: flex;
        flex-direction: column;
        box-sizing: content-box;
        width: 100%;
        height: 100%;
        transform: translate(-10px, -10px);
        background-color: white;
        // background-color: $grey;
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: auto 100%; 
        border: 10px solid white;
        // box-shadow: 0 0 0 1px rgba(black, 0.25), inset 0 0 32px rgba(black, 0.25);
        // border-radius: 10px;
        position: relative;
        overflow: hidden;
        // color: white;
        // filter: grayscale(1);
        border-radius: 10px;
  
        >.post {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          width: 100%;
          height: 100%;
          padding: 5px;
          z-index: 1;
          
          >.title {
            font-size: 1.5em;
            line-height: 1.25;
          }
    
          >.summary {
            // padding: 5px;
            max-height: 108px;
            margin-top: 10px;
            overflow: hidden;
            line-height: 1.5;
          }
        }
  
        >.bg {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: $grey;
          background-position: center;
          background-repeat: no-repeat;
          // background-size: auto 100%;
          background-size: cover;
          // background-blend-mode: overlay;
          // filter: grayscale(1);
          border-radius: 5px;
        }
  
        &:not(.active) {
          >.bg {
            background-blend-mode: darken;
            filter: grayscale(1);
          }
        }
  
        &:hover {
          cursor: pointer;
          // background-color: $grey;
          // background-color: $blue;
          box-shadow: 0 0 8px rgba(black, 0.25);
          transform: translate(-10px, -10px) scale(110%);
          transition: all 0.5s;
          z-index: 5;
          // filter: grayscale(0);
          >.bg {
            // background-color: $grey;
            background-color: white;
            filter: grayscale(0);
            transition: all 0.5s;
          }
        }
  
        &.link, &.media {
          color: white;
          text-shadow: 0 1px 4px black;
          >.post>.title {
            font-size: 2em;
            line-height: 1;
          } 
        }
  
        &.link {
          >.post>.summary {
            display: none;
          }
        }
  
      }
    }

  }

  // 섹션 보드
  section.list.board {
    .chain {
      &:not(:last-of-type) {
        border-bottom: 1px solid $light;
        margin-bottom: 10px;
      }
      .post {
        @include flex(stretch, space-between);
        width: 100%;
        .header {
          @include flex(start, start, column);
          flex-grow: 1;
          // min-width: 96px;
          font-size: 1.35em;
          margin-right: 15px;
          position: relative;
          .number {
            padding: 5px;
            background-color: white;
            color: $grey-50;
            z-index: 1;
            position: relative;
            left: -6px;
          }
          .quot {
            position: absolute;
            left: 23px;
            background-color: $grey-90;
            &.line-v {
              width: 2px;
              height: 100%;
            }
            &.line-h {
              width: calc(100% - 23px);
              height: 2px;
              top: calc(50% - 30px);
            }
          }
        }
        &.thread .header {
          display: none;
        }
        .content {
          @include flex(start, start, column);
          // width: 100%;
          // max-width: 720px;
          // min-width: 540px;
          z-index: 1;
          .title {
            font-size: 1.35em;
            padding: 5px;
          }
          .message {
            border: 1px solid $light;
            padding: 10px 15px;
            border-radius: 15px;
            background-color: aliceblue;
            width: 100%;
            margin-bottom: 10px;
            &.left {
              margin-right: 50px;
            }
          }
          .info {
            @include flex(center, end);
            width: 100%;
            margin-bottom: 15px;
            >span:not(:last-child) {
              margin-right: 15px;
            }
            >span:nth-of-type(2) {
              margin-left: auto;
            }
          }
          .buttons {
            >*:not(:last-child) {
              margin-right: 10px;
            }
          }
        }
        &.reply {
          .content {
            width: 100%;
            // max-width: 760px;
            max-width: 800px;
            .message {
              // max-width: 720px;
              background-color: antiquewhite;
            }
          }
        }
        &:last-child {
          .header {
            .quot {
              &.line-v {
                height: calc(50% - 30px);
              }
            }
          }
        }
      }
    }
  }

}

// 로딩
#loading {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: -15px;
  color: $grey-50;
}

aside {
  position: absolute;
  width: 100%;
  z-index: 9;
  max-width: calc(#{$max-width} + 84px + 20px);
  padding: 0 15px;
  &#leftmenu {
    align-items: start;
  }
  &#rightmenu {
    align-items: end;
  }

  button {
    background-color: white !important;
    position: fixed;
    transform: scale(1.15);
    &:hover {
      color: $blue;
    }
    &.top {
      top: calc(#{$height-nav} + 15px);
    }
    &.bottom {
      bottom: 15px;
    }
    &:nth-child(2):not(:last-of-type).top {
      top: calc(#{$height-nav} + 15px + 48px + 14px);
    }
  }
}

// 푸터
footer {
  width: 100%;
  height: 60px;
  align-items: center;
  margin: 0 auto;
  border-top: 1px solid rgba(black, 0.25);
  font-size: 0.9em;
}