@charset "UTF-8";
body { background-color: #1a1a1a; color: #cccccc; }

header { background-color: rgba(0, 0, 0, 0.65); }

section { background-color: #262626; }

footer { background-color: rgba(0, 0, 0, 0.65); }

header { display: flex; flex-direction: column; align-items: center; justify-content: start; flex-wrap: nowrap; position: sticky; top: 0; z-index: 8; backdrop-filter: blur(12px); border-bottom: 1px solid rgba(0, 0, 0, 0.25); }

header .sep { height: inherit; width: 18px; padding: 7px 0; align-self: center; font-size: 1em; opacity: 0.5; text-align: center; flex-shrink: 1; position: relative; }

header nav { display: flex; flex-direction: row; align-items: center; justify-content: space-between; flex-wrap: nowrap; height: 40px; width: 100%; max-width: 1000px; white-space: nowrap; font-size: 0.95em; font-weight: bold; letter-spacing: 0.05em; position: relative; }

header nav > .title { display: flex; flex-direction: row; align-items: start; justify-content: center; flex-wrap: nowrap; width: auto; height: inherit; }

header nav > .title .logo { font-size: 24px; margin-right: 5px; color: orangered; }

header nav > .title a { display: flex; flex-direction: row; align-items: center; justify-content: center; flex-wrap: nowrap; height: inherit; padding: 6px 0; padding-left: 10px; }

header nav > .title a .logo { filter: grayscale(1) opacity(0.65); }

header nav > .title.active { color: #21abff; }

header nav > .title.active .sep { opacity: 1; }

header nav > .title.active a .logo, header nav > .title a:hover .logo { filter: grayscale(0) opacity(1); transition: filter 0.25s; }

header nav .btn { min-width: 38px !important; height: inherit; text-align: center; font-size: 22px; }

header nav .btn:hover { background-color: initial; }

header nav a { display: block; height: 100%; padding: 6px 0; }

header nav a:hover { cursor: pointer; color: #21abff; }

header nav ul.menu { display: flex; flex-direction: row; align-items: start; justify-content: start; flex-wrap: nowrap; width: 100%; margin-right: 10px; height: inherit; overflow: hidden; }

header nav ul.menu .sep > i { width: 0; position: absolute; top: 2px; }

header nav ul.menu > li { max-width: 86px; height: 40px; text-align: center; align-self: end; overflow: hidden; flex-grow: 1; }

header nav ul.menu > li.active { border-bottom: 4px solid #21abff; }

main { overflow-x: hidden; flex-grow: 1; }

main a:hover { color: #21abff; }

main article { display: flex; flex-direction: column; align-items: center; justify-content: center; flex-wrap: nowrap; width: 100%; max-width: 1000px; padding: 20px 0; }

main article i { position: relative; font-size: 1.1em; margin-right: 4px; }

main article i[class*=" xi-"], main article i[class^=xi-] { top: 0.125em; }

main article i.sharp { top: 0.1em; }

main article i.sharp::before { content: '#'; }

main article i.bullet { top: 0; }

main article i.bullet::before { content: '•'; }

main section { display: flex; flex-direction: column; align-items: center; justify-content: center; flex-wrap: nowrap; width: 100%; max-width: calc(1000px - 30px); padding: 25px; border-radius: 12px; }

main section:not(:last-of-type) { margin-bottom: 20px; }

main section > div:not(:last-of-type) { margin-bottom: 15px; }

main section > .title { padding: 5px 10px 0; font-size: 1.2em; }

main section > .title::before { position: relative; top: 1px; margin-right: 5px; }

main section > .header { display: flex; flex-direction: row; align-items: center; justify-content: space-between; flex-wrap: nowrap; width: 100%; padding: 5px 5px 10px; position: relative; overflow: hidden; border-bottom: 1px solid #595959; margin-bottom: 15px; }

main section > .header > .title { font-size: 2rem; color: #ffffff; line-height: 1; z-index: 1; }

main section .label { margin-right: 6px; opacity: 0.65; }

main section .label > i { margin-right: 0; }

main section > .content { display: flex; flex-direction: column; align-items: center; justify-content: start; flex-wrap: nowrap; width: 100%; padding: 0 10px; font-size: 1.125rem; word-break: break-word; }

main section > .footer { display: flex; flex-direction: row; align-items: center; justify-content: end; flex-wrap: nowrap; width: 100%; font-size: 1.125rem; white-space: nowrap; line-height: 1.8; }

main section.post > .header { display: flex; flex-direction: column; align-items: center; justify-content: center; flex-wrap: nowrap; }

main section.post > .header.img { height: 200px; padding: 10px; margin-bottom: 15px; color: white; text-shadow: 0 1px 4px black; margin-top: -10px; width: calc(100% + 20px); border-radius: 5px; }

main section.post > .header.img .title, main section.post > .header.img .info { align-self: start; }

main section.post > .header.img .info { display: none; }

main section.post > .header > .bg { width: 100%; height: 100%; position: absolute; background-color: #666; background-position: center; background-repeat: no-repeat; background-size: cover; }

main section.post > .header .info { height: 22px; display: flex; margin-top: 10px; z-index: 1; }

main section.post > .header .info > span:not(:last-child) { margin-right: 15px; }

main section.post > .header .info .category { text-transform: capitalize; }

main section.post .content img { display: block; width: auto; max-width: calc(100% + 30px); margin-bottom: 15px; border-radius: 4px; }

main section.post .content .img.center, main section.post .content p.center { justify-self: center; }

main section.post .content .img.left, main section.post .content p.left { justify-self: start; }

main section.post .content .img.right, main section.post .content p.right { justify-self: end; }

main section.post > .footer .buttons.left { margin-right: 15px; }

main section.post > .footer .buttons.right { margin-left: 15px; }

main section.post > .footer .buttons:empty { margin: 0 !important; }

main section.post > .footer .buttons > .btn:not(:last-child) { margin-right: 12px; }

main section.post > .footer .tags { order: 1; font-size: 0.9em; }

main section.post > .footer .tags > a:not(:last-child) { margin-right: 5px; }

main section.post > .footer .info { display: flex; flex-direction: row; align-items: center; justify-content: end; flex-wrap: nowrap; overflow: hidden; }

main section.post > .footer .info.start { margin-right: 15px; }

main section.post > .footer .info.end { margin-left: auto; }

main section.post > .footer .info.end > .buttons.left { display: none; }

main section.post > .footer .info .wdate { margin-left: auto; margin-right: 15px; overflow: hidden; text-overflow: ellipsis; }

main section.media .header:not(.img) { flex-direction: row; justify-content: space-between; height: auto; }

main section.media .header:not(.img) .info { margin: 0; align-self: end; z-index: 1; }

main section.user { max-width: 640px; }

main section.user .content form { display: flex; flex-direction: column; align-items: center; }

main section.user .content table { max-width: 600px; margin: 0 15px 15px; }

main section.user .content table select { width: 140px; }

main section.user .content table.login { max-width: 400px; }

main section.user .content table td:last-child { padding-right: 60px; }

main section.user .content table.signup input[name=userid] { width: calc(100% - 104px); }

main section.user .content table.signup input[name=email] { width: calc(100% - 148px); }

main section.user .buttons { display: flex; flex-direction: row; align-items: center; justify-content: center; flex-wrap: nowrap; width: 100%; }

main section.user .buttons > *:not(:last-child) { margin-right: 25px; }

main section.list.tile { padding: 5px; }

main section.list.tile .title { width: 100%; }

main section.list.tile ul.tile { width: 100%; padding: 5px; display: flex; flex-wrap: wrap; }

main section.list.tile ul.tile.grid { display: grid; grid-template-columns: repeat(5, 1fr); grid-auto-flow: dense; }

main section.list.tile ul.tile.grid > li { min-width: initial; width: auto; }

main section.list.tile ul.tile.grid > li.wide { width: auto; grid-column: span 2; }

main section.list.tile ul.tile > li { height: 180px; min-width: 180px; padding: 5px; flex-grow: 1; width: 20%; overflow: hidden; }

main section.list.tile ul.tile > li.wide { width: 40%; }

main section.list.tile ul.tile > li:hover { overflow: visible; }

main section.list.tile ul.tile > li > .box { display: flex; flex-direction: column; box-sizing: content-box; width: 100%; height: 100%; transform: translate(-10px, -10px); background-color: #262626; border: 10px solid #262626; position: relative; overflow: hidden; border-radius: 10px; }

main section.list.tile ul.tile > li > .box > .post { display: flex; flex-direction: column; align-items: start; justify-content: center; width: 100%; height: 100%; padding: 5px; z-index: 1; }

main section.list.tile ul.tile > li > .box > .post > .title { font-size: 1.5em; line-height: 1.25; }

main section.list.tile ul.tile > li > .box > .post > .summary { max-height: 108px; margin-top: 10px; overflow: hidden; line-height: 1.5; }

main section.list.tile ul.tile > li > .box > .bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #808080; background-position: center; background-repeat: no-repeat; background-size: cover; border-radius: 5px; }

main section.list.tile ul.tile > li > .box:hover { background-color: #404040; border-color: #404040; color: #ffffff; cursor: pointer; box-shadow: 0 0 8px rgba(0, 0, 0, 0.25); transform: translate(-10px, -10px) scale(110%); transition: all 0.5s; z-index: 5; }

main section.list.tile ul.tile > li > .box.link, main section.list.tile ul.tile > li > .box.media { color: white; text-shadow: 0 1px 4px black; }

main section.list.tile ul.tile > li > .box.link > .post > .title, main section.list.tile ul.tile > li > .box.media > .post > .title { font-size: 2em; line-height: 1; }

main section.list.tile ul.tile > li > .box.media > .post > .summary { max-height: 80px; }

main section.list.tile ul.tile > li > .box.link > .post > .summary { display: none; }

main section.list.thread { font-size: 1.125rem; word-break: break-word; padding: 15px 25px 10px 25px; }

main section.list.thread.empty { padding-bottom: 15px; }

main section.list.thread.empty .message { background-color: #1a1a1a !important; display: flex; flex-direction: row; align-items: center; justify-content: space-between; flex-wrap: nowrap; }

main section.list.thread .chain { width: 100%; }

main section.list.thread .chain:not(:last-of-type) { border-bottom: 1px solid #a5a5a5; margin-bottom: 10px; }

main section.list.thread > .content { padding: 0 5px; }

main section.list.thread .post { display: flex; flex-direction: row; align-items: stretch; justify-content: space-between; flex-wrap: nowrap; width: 100%; }

main section.list.thread .post .header { display: flex; flex-direction: column; align-items: start; justify-content: start; flex-wrap: nowrap; flex-grow: 1; font-size: 1.35em; margin-right: 15px; position: relative; min-width: 64px; }

main section.list.thread .post .header .number { padding: 5px; background-color: white; color: gray; z-index: 1; position: relative; left: -6px; }

main section.list.thread .post .header .quot { position: absolute; left: 24px; background-color: #595959; opacity: 0.75; }

main section.list.thread .post .header .quot.line-v { width: 2px; height: 100%; }

main section.list.thread .post .header .quot.line-h { width: calc(100% - 24px); height: 2px; top: calc(50% - 30px); }

main section.list.thread .post.thread .header { display: none; }

main section.list.thread .post .content { display: flex; flex-direction: column; align-items: start; justify-content: start; flex-wrap: nowrap; width: 100%; z-index: 1; }

main section.list.thread .post .content .title { width: 100%; font-size: 1.35em; color: #ffffff; padding: 5px 0; }

main section.list.thread .post .content .message { border: 1px solid #595959; padding: 10px 15px; border-radius: 8px; background-color: #0f1a24; width: 100%; margin-bottom: 10px; }

main section.list.thread .post .content .message.left { margin-right: 50px; }

main section.list.thread .post .content .info { display: flex; flex-direction: row; align-items: center; justify-content: end; flex-wrap: nowrap; width: 100%; margin-bottom: 15px; }

main section.list.thread .post .content .info .buttons:last-child:not(:empty) { margin-left: 15px; }

main section.list.thread .post .content .info .buttons:last-child > *:not(:last-child) { margin-right: 12px; }

main section.list.thread .post .content .info > span:not(:last-child):not(:nth-last-child(2)) { margin-right: 15px; }

main section.list.thread .post .content .info > span:not(:last-child):not(:nth-last-child(2)) > i.bullet { margin-left: 20.5px; top: -4px; color: #595959; transform: scale(1.25); }

main section.list.thread .post .content .info > span:nth-of-type(2) { margin-left: auto; }

main section.list.thread .post.reply .content { width: 100%; max-width: 800px; }

main section.list.thread .post.reply .content .title { padding: 0; }

main section.list.thread .post.reply .content .message { background-color: #24170f; }

main section.list.thread .post:nth-child(2) .header .quot.line-v { top: -24px; height: calc(100% + 24px); }

main section.list.thread .post:nth-child(2).wable .header .quot.line-v { top: -8px; height: calc(100% + 8px); }

main section.list.thread .post:nth-child(2):last-child .header .quot.line-v { top: -24px; height: calc(50% - 30px + 24px); }

main section.list.thread .post:nth-child(2):last-child.wable .header .quot.line-v { top: -8px; height: calc(50% - 30px + 8px); }

main section.list.thread .post:last-child .header .quot.line-v { height: calc(50% - 30px); }

main section.list.thread:not(.hasreply) .info i.bullet { display: none; }

main section.list.thread #loading { bottom: -8px; }

aside { position: absolute; width: 100%; z-index: 9; max-width: calc(1000px + 84px + 20px); padding: 0 15px; }

aside#leftmenu { align-items: start; }

aside#rightmenu { align-items: end; }

aside button { background-color: #0d0d0d !important; position: fixed; transform: scale(1.15); }

aside button:hover { color: #21abff !important; }

aside button.top { top: calc(40px + 15px); }

aside button.bottom { bottom: 15px; }

aside button:nth-child(2):not(:last-of-type).top { top: calc(40px + 15px + 48px + 14px); }

aside button:nth-last-child(2):not(:last-of-type).bottom { bottom: calc(15px + 48px + 14px); }

footer { width: 100%; height: 60px; align-items: center; margin: 0 auto; border-top: 1px solid rgba(0, 0, 0, 0.25); font-size: 0.9em; }

#loading { width: 100%; text-align: center; font-size: 1.5em; line-height: 1; color: #a6a6a6; position: relative; }

#loading:not(:last-child) { margin-top: -5px; margin-bottom: 15px; }

#loading:not(:nth-last-child(3)) { margin-top: 15px; margin-bottom: 0; }

[id^=popup_], form.popup { display: flex; flex-direction: column; align-items: center; justify-content: center; flex-wrap: nowrap; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999; opacity: 0; display: none; transition: opacity 0.35s; }

[id^=popup_].show, form.popup.show { display: flex; }

[id^=popup_].active, form.popup.active { opacity: 1; }

[id^=popup_].modal, form.popup.modal { width: 100%; height: 100%; }

[id^=popup_].modal .dim, form.popup.modal .dim { position: absolute; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); }

[id^=popup_] section.popup, form.popup section.popup { width: 100%; max-width: 800px; padding: 25px; z-index: 1; border: 1px solid #595959; }

[id^=popup_] section.popup .header, form.popup section.popup .header { margin-bottom: 5px; }

[id^=popup_] section.popup .header .title > .label, form.popup section.popup .header .title > .label { margin-right: 8px; }

[id^=popup_] section.popup .content, form.popup section.popup .content { padding: 0; }

[id^=popup_] section.popup .content table.row td:last-child, form.popup section.popup .content table.row td:last-child { padding-right: 32px; }

[id^=popup_] section.popup .content table.column label, form.popup section.popup .content table.column label { text-transform: capitalize; cursor: default; padding: 0 5px; }

[id^=popup_] section.popup .content table.column td, form.popup section.popup .content table.column td { padding: 2.5px 0; }

[id^=popup_] section.popup .content table.column textarea, form.popup section.popup .content table.column textarea { min-height: 240px; }

[id^=popup_] section.popup .content table input.subject, form.popup section.popup .content table input.subject { padding: 5px 10px; font-size: 1.25em; }

[id^=popup_] section.popup .content .center, form.popup section.popup .content .center { text-align: center; }

[id^=popup_] section.popup .buttons, form.popup section.popup .buttons { display: flex; flex-direction: row; align-items: center; justify-content: center; flex-wrap: nowrap; width: 100%; margin-top: 5px; }

[id^=popup_] section.popup .buttons > .btn:not(:last-child), form.popup section.popup .buttons > .btn:not(:last-child) { margin-right: 25px; }

[id^=popup_] section.popup .buttons > label, form.popup section.popup .buttons > label { margin-right: 15px; }

[id^=popup_] section.popup .buttons > label:last-of-type, form.popup section.popup .buttons > label:last-of-type { margin-right: 25px; }

[id^=popup_] section.popup.small, form.popup section.popup.small { max-width: 640px; }

[id^=popup_] section.popup.min, form.popup section.popup.min { max-width: 480px; }

[id^=popup_] section.popup.small, [id^=popup_] section.popup.min, form.popup section.popup.small, form.popup section.popup.min { min-height: 240px; }

[id^=popup_] section.popup.small .header, [id^=popup_] section.popup.min .header, form.popup section.popup.small .header, form.popup section.popup.min .header { margin-bottom: 15px; }

[id^=popup_] section.popup.small .content, [id^=popup_] section.popup.min .content, form.popup section.popup.small .content, form.popup section.popup.min .content { padding: 0 10px; height: 100%; }

[id^=popup_] section.popup.small .content form, [id^=popup_] section.popup.min .content form, form.popup section.popup.small .content form, form.popup section.popup.min .content form { align-items: center; height: 100%; }

[id^=popup_] section.popup.small .content .text:not(:empty), [id^=popup_] section.popup.min .content .text:not(:empty), form.popup section.popup.small .content .text:not(:empty), form.popup section.popup.min .content .text:not(:empty) { width: 100%; border: 1px solid #a5a5a5; padding: 10px 15px; border-radius: 10px; margin-bottom: 5px; }

[id^=popup_] section.popup.small .content .message, [id^=popup_] section.popup.min .content .message, form.popup section.popup.small .content .message, form.popup section.popup.min .content .message { display: flex; flex-direction: column; align-items: start; justify-content: center; flex-wrap: nowrap; height: 100%; font-weight: bold; }

[id^=popup_] section.popup.small .buttons, [id^=popup_] section.popup.min .buttons, form.popup section.popup.small .buttons, form.popup section.popup.min .buttons { margin-top: 10px; }

[id^=popup_] section.popup.small.thread .content .text, [id^=popup_] section.popup.min.thread .content .text, form.popup section.popup.small.thread .content .text, form.popup section.popup.min.thread .content .text { background-color: #0f1a24; }

[id^=popup_] section.popup.small.reply .content .text, [id^=popup_] section.popup.min.reply .content .text, form.popup section.popup.small.reply .content .text, form.popup section.popup.min.reply .content .text { background-color: #24170f; }

[id^=popup_] .btn.close, form.popup .btn.close { position: absolute; right: 5px; top: 5px; z-index: 9; border: none; transform: scale(1.15); color: #b3b3b3; }

[id^=popup_] .btn.close.outer, form.popup .btn.close.outer { background-color: white !important; border: 1px solid transparent; transform: translate(50%, -50%) scale(1.15); transform: translate(calc(100% + 15px), -50%) scale(1.15); }

[id^=popup_] .btn.close:hover, form.popup .btn.close:hover { color: #ff4200; text-shadow: none; }
