@import "_variables.scss";

// ---------------------------------------------------------

// 헤더
header {
  height: 140px;
  // flex-direction: column;
  align-items: center;
  // background-color: white;
  // background-color: rgba(white, 0.5);
  z-index: 9;

  .logo {
    width: 120px;
    height: 120px;
    padding: 3px;
    margin: 10px;
    // background-color: white;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 9;

    img {
      filter: drop-shadow(0 0 4px rgba(black, 0.15));
    }
  }

  .menu {
    align-self: start;
    width: 100%;
    max-width: $max-width;
    height: inherit;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 10px 15px;

    >div>* {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    i {
      font-size: 1.25em;
    }

    a:hover {
      color: $blue;
      transition: all 0.25s;
    }

    >.search {
      input {
        width: 160px;
        font-size: 1em;
        border: 1px solid $light;
        border-radius: 5px;
        margin-right: 5px;
      }

    }
  }

}

// 네비게이션 바
nav {
  width: 100%;
  height: $height-nav + 1;
  align-items: center;
  // justify-content: space-between;
  position: sticky;
  top: 0;
  // background-color: white;
  // background-color: rgba(white, 0.5);
  // background-color: transparent;
  // backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(black, 0.25);
  z-index: 8;

  &::before {
    content: "";
    width: 100%;
    height: 180px;
    background: linear-gradient(to top, rgba(white, 0.65), white);
    backdrop-filter: blur(12px);
    position: absolute;
    bottom: 0;
    z-index: -1;
  }

  .menu {
    width: 100%;
    max-width: $max-width;
    height: inherit;
    // padding: 0 15px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    // font-family: "Quicksand";
    font-size: 0.95em;
    font-weight: bold;
    letter-spacing: 0.05em;
    overflow: hidden;

    >li {
      width: 120px;
      height: $height-nav;
      text-align: center;
      align-self: end;
      overflow: hidden;

      &.active {
        border-bottom: 4px solid $blue;
      }

      >a {
        display: block;
        // height: 39px;
        height: $height-nav - 1;
        padding: 7px;

        &:hover {
          cursor: pointer;
          color: $blue;
          // background-color: rgba(black, 0.5);
          // background-color: white;
          // border-bottom: 4px solid $blue;
          transition: all 0.25s;
          text-shadow: 0 0 16px white;
          // box-shadow: 0 0 24px rgba(black, 0.05);
        }
      }

    }
  }
}

// 메인
main {
  // margin-top: 60px;
  overflow-x: hidden;
  flex-grow: 1;

  a:hover {
    color: $blue;
  }

  // TODO: 인풋 및 버튼 css 분리
  .btn, button,
  input[type=button] {
    font-size: 1em;
    padding: 5px;
    min-width: 120px;
  }

  input:not([type=radio]), 
  select,
  textarea {
    border: 1px solid #858585;
    border-radius: 4px;
    &:focus-visible {
      border: 1px solid #29cdff;
      outline: 1px solid #0072ff;
      box-shadow: 0 0 6px #0014ff;
    }
  }

  article {
    @include flex(center, center, column);
    width: 100%;
    max-width: $max-width;
    padding: 20px 0;
  }

  section {
    @include flex(center, center, column);
    width: 100%;
    max-width: calc(#{$max-width} - 30px);
    padding: 25px;
    // margin-bottom: 20px;
    background-color: white;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    >.title {
      padding: 5px 10px 0;
      font-size: 1.2em;
      &::before {
        position: relative;
        top: 1px;
        margin-right: 5px;
      }
    }

    >.header {
      @include flex(center, space-between);
      width: 100%;
      padding: 5px 5px 10px;
      position: relative;
      overflow: hidden;
      border-bottom: 1px solid $light;
      margin-bottom: 15px;
      >.title {
        font-size: 2em;
        line-height: 1;
        z-index: 1;
      }
    }

    >.content {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      font-size: 1.125em;
      word-break: keep-all;
      // letter-spacing: 1;
      line-height: 1.5;
    }

    >.footer {
      @include flex(center, space-between);
      width: 100%;
      height: 22px;
    }
  }

  // 섹션 포스트
  section.post {

    &.text {
      .header {
        @include flex(center, center, column);
      }
    }

    >.header {
      &.img {
        height: 180px;
        padding: 10px;
        margin-bottom: 15px;
        color: white;
        text-shadow: 0 1px 4px black;
      }
      
      >.bg {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #666;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: overlay;
      }

      .info {
        height: 22px;
        display: flex;
        margin-top: 10px;
        z-index: 1;
        >span:not(:last-child) {
          margin-right: 10px;
        }
      }

      &.pinned.img {
        .info {
          display: none;
        }
      }
    }

    .content {
      img {
        display: block;
        width: auto;
        max-width: 100%;
        margin: 10px auto;
        &:first-of-type {
          margin: 0 auto 15px;
        }
      }
    }

    >.footer {
      >span:not(:last-child) {
        margin-right: 10px;
      }
      >span:nth-child(2) {
        margin-left: auto;
      }
      .tags {
        font-size: 0.9em;
        >a:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
  }

  // 섹션 미디어
  section.media {
    .header {
      flex-direction: row;
      justify-content: space-between;
      height: auto;
      
      .info {
        margin: 0;
        align-self: end;
        z-index: 1;
      }
    }
  }

  // 섹션 유저
  section.user {
    max-width: 640px;

    .content {
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      table {
        max-width: 600px;
        margin: 0 15px 15px;
        &.login {
          max-width: 400px;
        }

        td.hr::before {
          content: "";
          display: block;
          width: 100%;
          border-bottom: 1px solid $light;
        }

        td:last-child {
          padding-right: 60px;
        }
        
        input, 
        select,
        textarea {
          padding: 5px;
        }
        input[type=text],
        input[type=number],
        input[type=password],
        input[type=email],
        textarea {
          width: 100%;
        }
        select {
          width: 120px;
        }
        input[type=radio],
        input[type=checkbox] {
          cursor: pointer;
          margin-right: 5px;
        }
        label {
          cursor: pointer;
          margin-right: 5px;
        }

        &.signup {
          input[name=userid],
          input[name=email] {
            width: calc(100% - 128px);
          }
        }
      }
    }

    .buttons {
      @include flex(center, center);
      width: 100%;
      >*:not(:last-child) {
        margin-right: 25px;
      }
    }
  }

  // 섹션 리스트 타일
  section.list.tile {
    padding: 5px;

    .title {
      width: 100%;
    }

    ul.tile {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 5px;
  
      >li {
        height: 180px;
        min-width: 180px;
        padding: 5px;
        flex-grow: 1;
        width: 20%;
        overflow: hidden;
  
        &.wide {
          width: 40%;
        }
  
        &:hover {
          overflow: visible;
        }
      }
  
      .box {
        display: flex;
        flex-direction: column;
        box-sizing: content-box;
        width: 100%;
        height: 100%;
        transform: translate(-10px, -10px);
        background-color: white;
        // background-color: $grey;
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: auto 100%; 
        border: 10px solid white;
        // box-shadow: 0 0 0 1px rgba(black, 0.25), inset 0 0 32px rgba(black, 0.25);
        // border-radius: 10px;
        position: relative;
        overflow: hidden;
        // color: white;
        // filter: grayscale(1);
  
        >.post {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          width: 100%;
          height: 100%;
          padding: 5px;
          z-index: 1;
          
          >.title {
            font-size: 1.5em;
            line-height: 1.25;
          }
    
          >.summary {
            // padding: 5px;
            max-height: 108px;
            margin-top: 10px;
            overflow: hidden;
            line-height: 1.5;
          }
        }
  
        >.bg {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: $grey;
          background-position: center;
          background-repeat: no-repeat;
          // background-size: auto 100%;
          background-size: cover;
          // background-blend-mode: overlay;
          // filter: grayscale(1);
        }
  
        &:not(.active) {
          >.bg {
            background-blend-mode: darken;
            filter: grayscale(1);
          }
        }
  
        &:hover {
          cursor: pointer;
          // background-color: $grey;
          // background-color: $blue;
          box-shadow: 0 0 8px rgba(black, 0.25);
          transform: translate(-10px, -10px) scale(110%);
          transition: all 0.5s;
          z-index: 5;
          // filter: grayscale(0);
          >.bg {
            // background-color: $grey;
            background-color: white;
            filter: grayscale(0);
            transition: all 0.5s;
          }
        }
  
        &.link, &.media {
          color: white;
          text-shadow: 0 1px 4px black;
          >.post>.title {
            font-size: 2.25em;
            line-height: 1;
          } 
        }
  
        &.link {
          >.post>.summary {
            display: none;
          }
        }
  
      }
    }

  }

  // 섹션 보드
  section.list.board {
    .thread {
      @include flex(start, start);
      width: 100%;
      margin-bottom: 15px;
      .header {
        @include flex(center, center, column);
        min-width: 96px;
        font-size: 1.35em;
        margin-right: 15px;
        .number {
          padding: 5px;
          background-color: white;
        }
      }
      .content {
        @include flex(start, start, column);
        width: 100%;
        max-width: 720px;
        .message {
          border: 1px solid $light;
          padding: 10px 15px;
          border-radius: 15px;
          background-color: aliceblue;
          width: 100%;
          margin-bottom: 10px;
          &.left {
            margin-right: 50px;
          }
        }
        .info {
          @include flex(start, end);
          width: 100%;
          >*:not(:last-child) {
            margin-right: 15px;
          }
        }
      }
    }
  }

}

// 로딩
#loading {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  // position: relative;
  // top: -5px;
  // margin-bottom: 10px;
  margin: 10px 0;
  color: $grey;
}

// 푸터
footer {
  width: 100%;
  height: 60px;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  border-top: 1px solid rgba(black, 0.25);
  // font-family: "Quicksand";
  font-size: 0.9em;
}