body { background-color: #1a1a1a; color: #cccccc; }

header { background-color: rgba(0, 0, 0, 0.65); }

section { background-color: #262626; }

footer { background-color: rgba(0, 0, 0, 0.65); }

#container.mobile header { height: 60px; }

#container.mobile header:before { position: absolute; content: "MOBILE UI"; }

#container.mobile header nav { top: 20px; }

#container.mobile header nav ul.menu { display: none; }

#container.mobile header nav .btn.search { display: none; }
